.reviewName {
  margin-bottom: 25px;
}

.description {
  margin-top: 80px;
  overflow: scroll;
  height: 100vh;
  width: 100vw;
  margin-bottom: 70px;
  position: absolute;
}

.hidedescription {
  display: none;
}

.description::-webkit-scrollbar {
  display: none;
  overflow-y: hidden;
}

.description {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.address {
  margin-top: 20px;
}

.robot_icon {
  height: 100%;
  width: 100%;
}

.robot_button_container {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 1000;
}

.chat_bot_popup {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 190px;
  background-color: white;
  border: 2px solid #ccc;
  position: fixed;
  bottom: 100px;
  left: 20px;
  z-index: 1000;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.chat_bot_popup p{
  font-size: 15px;
}

.chat_bot_link {
  padding-bottom: 100px;
}


.popupcontainer {
  position: relative;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  
}
.popupdetails {
  width: 70%;
  height: 40%;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.link {
  text-decoration: none;
  margin: auto 10px auto 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.signup {
  margin: 10px;
  background-color: #fae301;
  border: none;
  height: 40px;
  width: 60px;
  border-radius: 5px;
  color: black;
  font-weight: bolder;
  font-family: 'virgil';
  cursor: pointer;
}

.closebutton {
  position: relative;
  right: -100px;
  top: -30px;
  height: 20px;
  width: 20px;
}
.popupcontainer h2 {
  margin-top: 20px;
}