@font-face {
  font-family: 'virgil';
  src: url('../../../../public/fonts/Virgil.woff2');
}

body {
  font-family: virgil;
}

.invisible-btn {
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-style: solid;
  border-radius: 0.3rem;
  border-color: black;
  cursor: pointer;
  margin-top: 1rem;
}

.review-subject-container {
  min-width: 250px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.rating-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-style: solid;
  margin: 1.5vw;
  border-radius: 8%;
  min-width: 300px;
}

.rating-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-interactive {
  display: flex;
  justify-content: center;
  
}