

.rating-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-style: solid;
  margin: 1.5vw;
  border-radius: 15px;
  max-width: 400px;
  width: 70vw;
  height: 50vh;
}

.rating-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 200px;
}

.rating-interactive {
  display: flex;
  justify-content: center; 
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  text-align: center;
}

.specific-comment-box {
  display: flex;
  flex-direction: column;
}