.main {
  font-family: 'virgil';
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  width: 90vw;
  max-width: 1000px
  /* min-height: 100vh; */
}





