.body {
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topmenu {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 60%;
  align-self: center;
  justify-self: flex-end;
  gap: 20px;
  justify-content: space-between;
  max-width: 400px;
}

.menuitem {
  align-self: center;
}

@media screen and (max-width: 800px) {
  .body {
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .burgerbox {

  }

  .burgers {

  }

  .bar {

  }
}