@font-face {
  font-family: 'virgil';
  src: url('../../../public/fonts/Virgil.woff2');
}

.backdrop {
  display: flex;
  height: 100%;
  /* background-image: url('../../../public/babkdrops/will-look-our-new-home-6501382.webp'); */
}

.logout_div {
  /* align-self: flex-start; */
  display: flex;
  flex-direction: column;
  height: auto;
  width: 85%;
  max-width: 500px;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
  align-items: center;
} 

.logout_p {
font-size: 30px;
}

.logout_button {
  align-self: center;
  font-family: virgil;
  height: auto;
  min-height: 40px;
  border: 1px solid;
  border-radius: 7px;
  max-width: 300px;
  width: 70%;
  padding: 10px;
  cursor: pointer;
}
.logout_button:hover {background-color: #fae301;}

.link {
  text-decoration: none;
}