main {

}

.mobile-hamburger-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-hamburger {
  cursor: pointer;
}

.mobile-hamburger .bar {
  background-color: var(--white);
}

.logo {
  /* background-image: url('../../assets/TLM_Color_Landscape.jpg'); */
  background-image: var('../../assets/TLM_Color_Landscape.jpg');
}