
@font-face {
  font-family: 'virgil';
  src: url('../../../public/fonts/Virgil.woff2');
}

.page {
  font-family: virgil;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.profilebox {
  margin-top: -50px;
  padding: 30px;
  border: 1px solid #fae301;
  border-radius: 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.attname {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.att {

}

.profilebtn {
  height: 30px;
  font-family: virgil;
}

.editdiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editinput {
  max-height: 20px;
}

.divide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  gap: 20px;
}

.divideline {
  border: 1px solid #fae301;
  width: 30%;
  height: 1px;
}